.logo {
    width: 50px;
    height: 50px;
    background-image: url('/images/logo/logo.png');
    background-repeat: no-repeat;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px ;
}
