.app {
    &.menu-min {
        .sidebar {
            width: $sidebar-width-menu-min;
            span, i.arrow, .sidebar-nav {
                display: none;
            }
        }
    }
}
.sidebar {
    @include _transition(width $sidebar-transition-delay);

    width: $sidebar-width;
    padding-bottom: 0;
    position: fixed;

    .sidebar-container {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: darken($sidebar-color-primary, 3%);
        }

        &::-webkit-scrollbar-thumb {
            background: $color-primary-dark;
        }

        .sidebar-header {
            z-index: 10;
        }

        .menu {
            margin-top: $header-height;
            height: calc(100% - #{$header-height});

            .sidebar-menu {
                ul {
                    height: 0;
                    @include _transition(height $sidebar-menu-transition-delay);

                    &.show {
                        height: auto;
                    }
                }

                .sidebar-nav {
                    & > li a {
                        padding-left: 35px !important;

                        i {
                            margin-right: 10px;
                        }
                    }

                    & > li > .sidebar-nav > li {
                        a {
                            padding-left: 67px !important;
                        }

                        &.active a {
                            color: $color-text-inverse;
                        }
                    }
                }

                li {
                    &.active {
                        > a {
                            background-color: $gray-dark;
                        }
                    }

                    .arrow {
                        @include _transform(rotate(90deg));
                    }

                    .collapsed > .arrow {
                        @include _transform(rotate(-90deg));
                    }

                }
            }
        }

        .sidebar-toggle {
            text-align: center;
            padding: 3px 0;
            position: relative;
            border-color: $color-divider;
            margin-top: 10px;

            .ace-icon {
                padding: 5px 10px;
                line-height: 18px;
                cursor: pointer;
                font-size: 14px;
                border-radius: 100%;
                border: 1px solid;
                position: relative;
                background: $color-text-inverse
            }

            &:before {
                content: "";
                display: block;
                height: 0;
                border-top: 1px solid;
                border-color: inherit;
                position: absolute;
                left: 15px;
                right: 15px;
                top: 18px;
            }
        }
    }
}

.fa-angle-double-left:before {
    content: "\f100";
}
